<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>This Weekend</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>window.thisWeekend = window.thisWeekend || {}</script>
  </head>
  <body>
    <nav class="sticky top-0 flex flex-wrap items-center justify-between w-full bg-teal-500">
      <div class="flex items-center flex-shrink-0 h-16 mr-6 text-white">
        <span class="pl-6 text-xl font-semibold tracking-tight">
          <%= link "This Weekend", to: Routes.page_path(@conn, :index) %>
        </span>
      </div>
      <div>

        <%= if !signed_in?(@conn) do %>
          <div class="inline-block py-2 text-sm leading-none text-white md:px-4 lg:mt-0">
              <%= link "Log In", to: Routes.session_path(@conn, :new), class: "block lg:inline-block lg:mt-0 text-teal-200" %>
          </div>
        <% end %>

        <%= if signed_in?(@conn) do %>
          <div class="inline-block py-2 text-sm leading-none text-white md:px-4 lg:mt-0">
            Hi, <%= @conn.assigns.username %>
            <%= link "Log Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "block lg:inline-block lg:mt-0 text-teal-200" %>
          </div>
        <% end %>
      </div>
    </nav>

    <main role="main">
      <div class="container">
        <%
        info = get_flash(@conn, :info)
        error = get_flash(@conn, :error)
        %>
        <%= if info do %>
          <div class="alert alert-info" role="alert"><%= live_flash(@flash, :notice) %></div>
        <% end %>
        <%= if error do %>
          <div class="alert alert-danger" role="alert"><%= live_flash(@flash, :error) %></div>
        <% end %>
      </div>
      <div>
        <%= @inner_content %>
      </div>
    </main>

    <script type="text/javascript">window.thisWeekend.username = "<%= Map.get(@conn.assigns, :username) %>"</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
